/* レスポンシブな背景画像 */
body {
  background-image: url("https://github.com/technician02/github.io/blob/main/IMG_2271.JPG?raw=true");
  background-size: cover;
  background-position: center;
}

/* ナビゲーションメニューの調整 */
header nav ul li a {
  text-decoration: none;
  color: black; /* 通常時のリンクの色 */
  margin-left: 29px;
  font-weight: 600;
  transition: all 0.3s;
}

header nav ul li a:hover {
  color: #767685;
}



/* ボタンエリアの配置 */
.main .button-area {
  margin-top: 20px;
}

.button-area {
  display: flex;
  justify-content: center;
}

.button-area button {
  margin: 0 5px;
}

/* カーソルスタイルの調整 */
#cursor {
  display: none; /* モバイルデバイスでは非表示にする */
}

/* モバイルデバイス向けスタイル */
@media screen and (max-width: 768px) {
  body {
    background-image: none; /* 背景画像はモバイルデバイスでは非表示にする */
    background-color: #f0f0f0; /* 代替の背景色 */
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo {
    margin-bottom: 10px;
  }

  main {
    padding: 0 20px;
  }
}
